<div class="trello-board">
    <div class="column" *ngFor="let status of ['Aguardando desenvolvimento', 'Em andamento', 'Finalizado']">
        <h3>{{ status }}</h3>
        <div class="card" *ngFor="let task of filterTasksByStatus(status)">
            <h4>{{ task.nome }}</h4>
            <p>{{ task.descricao }}</p>
            <p>Atribuído para: {{ getNameById(task.usuarioId) }}</p>
            <div class="actions">
                <button (click)="editTask(task)"><i class="pi pi-pencil"></i></button>
                <button (click)="deleteTask(task)"> <i class="pi pi-trash"></i></button>
            </div>
        </div>
        <button (click)="openModal()">+ Adicionar um cartão</button>
    </div>
</div>

<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2 class="modal-title">{{ isEditing ? 'Editar Tarefa' : ((users && users.length === 0 || addNewUser) ?
            'Adicionar Usuário' : ((users && users.length === 0 || deleteAUser)) ? 'Excluir Usuário' : 'Adicionar
            Tarefa') }}
        </h2>

        <form *ngIf="users && users.length > 0 && addNewUser === false && deleteAUser === false" [formGroup]="taskForm"
            (ngSubmit)="saveTask()">
            <input type="text" nz-input formControlName="nome" placeholder="Nome da tarefa"
                [ngClass]="{'invalid': taskForm.get('nome')?.invalid && taskForm.get('nome')?.touched}" required />
            <div class="invalid-message" *ngIf="taskForm.get('nome')?.invalid && taskForm.get('nome')?.touched">
                <small *ngIf="taskForm.get('nome')?.errors?.['required']">O nome da tarefa é obrigatório.</small>
            </div>

            <textarea rows="4" nz-input formControlName="descricao" placeholder="Descrição da tarefa"
                [ngClass]="{'invalid': taskForm.get('descricao')?.invalid && taskForm.get('descricao')?.touched}"></textarea>
            <div class="invalid-message"
                *ngIf="taskForm.get('descricao')?.invalid && taskForm.get('descricao')?.touched">
                <small>Insira uma descrição válida.</small>
            </div>

            <div class="flex-jb">
                <nz-date-picker style="width: 50%;" nzFormat="dd/MM/yyyy" formControlName="inicio"
                    nzPlaceHolder="Início"
                    [ngClass]="{'invalid': taskForm.get('inicio')?.invalid && taskForm.get('inicio')?.touched}"></nz-date-picker>
                <nz-date-picker style="width: 50%;" nzFormat="dd/MM/yyyy" formControlName="fim" nzPlaceHolder="Fim"
                    [ngClass]="{'invalid': taskForm.get('fim')?.invalid && taskForm.get('fim')?.touched}"></nz-date-picker>
            </div>

            <nz-upload nzType="drag" [nzMultiple]="false" (nzChange)="handleChange($event)"
                nzAccept=".jpg,.jpeg,.png,.pdf" [nzShowUploadList]="false" [nzFileList]="fileList"
                [ngClass]="{'invalid': taskForm.get('anexos')?.invalid && taskForm.get('anexos')?.touched}">
                <p class="ant-upload-drag-icon">
                    <span nz-icon nzType="inbox"></span>
                </p>
                <p class="ant-upload-text">Clique ou arraste a imagem para esta área para enviar</p>
            </nz-upload>

            <div class="invalid-message" *ngIf="fileList.length > 0" class="file-preview">
                <div *ngFor="let file of fileList" class="file-item">
                    <img width="30px" height="30px" *ngIf="file && file.type && file.type.startsWith('image/')"
                        [src]="file.url || file.thumbUrl || file" alt="Preview" class="file-preview-image" />
                    <span>{{ !isEditing ? file.name : getFileNameFromUrl(file.name) }}</span>
                    <button class="btn-trash" nz-button nzType="link" (click)="removeFile(file)"><i
                            class="pi pi-trash"></i></button>
                    <div *ngIf="isEditing">
                        <a style="padding: 0px !important;" [href]="file.url"
                            download="{{ getFileNameFromUrl(file && file.url ? file.url : 'x') }}" nz-button
                            nzType="link">Download do anexo</a>
                    </div>
                </div>

            </div>

            <nz-select formControlName="usuarioId" nzPlaceHolder="Selecione um usuário"
                [ngClass]="{'invalid': taskForm.get('usuarioId')?.invalid && taskForm.get('usuarioId')?.touched}"
                required>
                <nz-option *ngFor="let user of users" [nzValue]="user.id" [nzLabel]="user.nome"></nz-option>
            </nz-select>
            <div class="invalid-message"
                *ngIf="taskForm.get('usuarioId')?.invalid && taskForm.get('usuarioId')?.touched">
                <small>É necessário selecionar um usuário.</small>
            </div>

            <button class="btn-add" (click)="addUser()">+ Adicionar Usuário</button>
            <button *ngIf="(users && users.length > 0)" class="btn-delete" (click)="deleteUser()">- Remover
                Usuário</button>
            <button class="btn" nz-button [disabled]="taskForm.invalid">{{ isEditing ? 'Salvar Alterações' : 'Adicionar
                Tarefa' }}</button>
        </form>

        <form *ngIf="(users && users.length === 0 || addNewUser)" [formGroup]="userForm" (ngSubmit)="saveUsers()">
            <h3 *ngIf="(users && users.length === 0)">
                Para adicionar uma Tarefa, adicione pelo menos um usuário para vinculá-la
            </h3>

            <input type="text" nz-input formControlName="nome"
                [ngClass]="{'invalid': userForm.get('nome')?.invalid && userForm.get('nome')?.touched}"
                placeholder="Preencha com o nome do usuário" required />
            <div class="invalid-message" *ngIf="userForm.get('nome')?.invalid && userForm.get('nome')?.touched">
                <small *ngIf="userForm.get('nome')?.errors?.['required']">Nome é obrigatório.</small>
            </div>

            <input type="email" nz-input formControlName="email"
                [ngClass]="{'invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched}"
                placeholder="Preencha com o e-mail do usuário" required />
            <div class="invalid-message" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                <small *ngIf="userForm.get('email')?.errors?.['required']">E-mail é obrigatório.</small>
                <small *ngIf="userForm.get('email')?.errors?.['email']">E-mail inválido, por favor verifique o
                    formato.</small>
            </div>

            <input type="text" mask="(00) 00000-0000" nz-input formControlName="telefone"
                [ngClass]="{'invalid': userForm.get('telefone')?.invalid && userForm.get('telefone')?.touched}"
                placeholder="Preencha com o telefone do usuário" />

            <div>
                <label style="margin-right: 15px;" for="notification-preference">Escolha por onde quer receber notificações:</label>
                <nz-radio-group id="notification-preference" formControlName="preference">
                    <label nz-radio nzValue="SMS">SMS</label>
                    <label nz-radio nzValue="EMAIL">E-mail</label>
                </nz-radio-group>
            </div>

            <div class="invalid-message"
                *ngIf="userForm.get('preference')?.invalid && userForm.get('preference')?.touched">
                <small *ngIf="userForm.get('preference')?.errors?.['required']">Escolha uma preferência de
                    notificação.</small>
            </div>

            <div class="flex-jb">
                <button class="btn" nz-button [disabled]="userForm.invalid">Adicionar Usuário</button>
                <button class="btn-back" nz-button (click)="cleanBooleans()">Voltar</button>
            </div>
        </form>

        <div *ngIf="(users && users.length > 0 && deleteAUser)">
            <h3 *ngIf="(users && users.length > 0)">
                Atenção: A exclusão de um usuário é irreversível
            </h3>

            <nz-select style="width: 100%; margin-bottom: 10px;" [(ngModel)]="userId"
                nzPlaceHolder="Selecione o usuário que deseja excluir" required>
                <nz-option *ngFor="let user of users" [nzValue]="user.id" [nzLabel]="user.nome"></nz-option>
            </nz-select>

            <div class="flex-jb">
                <button class="btn-del" nz-button [disabled]="userId === 0" (click)="deleteUsers()">Excluir
                    Usuário</button>
                <button class="btn-back" nz-button (click)="cleanBooleans()">Voltar</button>
            </div>

        </div>




    </div>
</div>


<p-toast key="tst"></p-toast>