<div class="trello-board">
    <div class="column" *ngFor="let status of ['Aguardando desenvolvimento', 'Em andamento', 'Em produção']">
        <h3>{{ status }}</h3>
        <div class="card" *ngFor="let task of filterTasksByStatus(status)">
            <h4>{{ task.nome }}</h4>
            <p>{{ task.descricao }}</p>
            <div class="actions">
                <button (click)="editTask(task)"><i class="pi pi-pencil"></i></button>
                <button (click)="deleteTask(task.id ? task.id : 0)"> <i class="pi pi-trash"></i></button>
            </div>
        </div>
        <button (click)="openModal()">+ Adicionar um cartão</button>
    </div>
</div>

<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ isEditing ? 'Editar Tarefa' : 'Adicionar Nova Tarefa' }}</h2>

        <input [(ngModel)]="taskName" placeholder="Nome da tarefa" required />
        <textarea [(ngModel)]="taskDesc" placeholder="Descrição da tarefa" required></textarea>

        <input [(ngModel)]="taskInicio" placeholder="Início da tarefa" type="date" />
        <input [(ngModel)]="taskFim" placeholder="Fim da tarefa" type="date" />
        <input [(ngModel)]="taskAnexos" placeholder="Anexos" />
        <input [(ngModel)]="taskUsuarioId" placeholder="ID do Usuário" required />

        <button (click)="saveTask()">{{ isEditing ? 'Salvar Alterações' : 'Adicionar Tarefa' }}</button>
    </div>
</div>