<div class="trello-board">
    <div class="column" *ngFor="let status of ['Aguardando desenvolvimento', 'Em andamento', 'Finalizado']">
        <h3>{{ status }}</h3>
        <div class="card" *ngFor="let task of filterTasksByStatus(status)">
            <h4>{{ task.nome }}</h4>
            <p>{{ task.descricao }}</p>
            <p>Atribuído para: {{ getNameById(task.usuarioId) }}</p>
            <div class="actions">
                <button (click)="editTask(task)"><i class="pi pi-pencil"></i></button>
                <button (click)="deleteTask(task.id ? task.id : 0)"> <i class="pi pi-trash"></i></button>
            </div>
        </div>
        <button (click)="openModal()">+ Adicionar um cartão</button>
    </div>
</div>

<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2 class="modal-title">{{ isEditing ? 'Editar Tarefa' : ((users && users.length === 0 || addNewUser) ?
            'Adicionar Novo
            Usuário' : 'Adicionar Nova Tarefa') }}
        </h2>

        <form *ngIf="users && users.length > 0 && addNewUser === false" [formGroup]="taskForm" (ngSubmit)="saveTask()">
            <input type="text" nz-input formControlName="nome" placeholder="Nome da tarefa" required />
            <textarea rows="4" nz-input formControlName="descricao" placeholder="Descrição da tarefa"></textarea>
            <div class="flex-jb">
                <nz-date-picker style="width: 50%;" nzFormat="dd/MM/yyyy" formControlName="inicio"
                    nzPlaceHolder="Início"></nz-date-picker>
                <nz-date-picker style="width: 50%;" nzFormat="dd/MM/yyyy" formControlName="fim"
                    nzPlaceHolder="Fim"></nz-date-picker>
            </div>
            <nz-upload nzType="drag" [nzMultiple]="false" (nzChange)="handleChange($event)"
                nzAccept=".jpg,.jpeg,.png,.gif" [nzShowUploadList]="false" [nzFileList]="fileList">

                <p class="ant-upload-drag-icon">
                    <span nz-icon nzType="inbox"></span>
                </p>

                <p class="ant-upload-text">Clique ou arraste a imagem para esta área para enviar</p>
            </nz-upload>

            <div *ngIf="fileList.length > 0" class="file-preview">
                <div *ngFor="let file of fileList" class="file-item">
                    <img width="80px" height="80px" *ngIf="file && file.type && file.type.startsWith('image/')"
                        [src]="file.url || file.thumbUrl" alt="Preview" class="file-preview-image" />
                    <span>{{ file.name }}</span>
                    <button nz-button nzType="link" (click)="removeFile(file)"><i class="pi pi-trash"></i></button>
                </div>
            </div>

            <nz-select formControlName="usuarioId" nzPlaceHolder="Selecione um usuário" required>
                <nz-option *ngFor="let user of users" [nzValue]="user.id" [nzLabel]="user.nome"></nz-option>
            </nz-select>

            <button class="btn-add" (click)="addUser()">+ Adicionar Usuário</button>

            <button class="btn" nz-button [disabled]="taskForm.invalid">{{ isEditing ? 'Salvar Alterações' :
                'Adicionar Tarefa' }}</button>
        </form>

        <form *ngIf="(users && users.length === 0 || addNewUser)" [formGroup]="userForm" (ngSubmit)="saveUsers()">
            <h3 *ngIf="(users && users.length === 0)">Para adicionar uma Tarefa, adicione pelo menos um usuário para
                vinculá-la</h3>
            <input type="text" nz-input formControlName="nome" placeholder="Preencha com o nome do usuário" required />
            <input type="email" nz-input formControlName="email" placeholder="Preencha com o e-mail do usuário"
                required />
            <input type="text" nz-input formControlName="telefone" placeholder="Preencha com o telefone do usuário" />

            <nz-radio-group formControlName="preference">
                <label nz-radio nzValue="SMS">SMS</label>
                <label nz-radio nzValue="EMAIL">E-mail</label>
            </nz-radio-group>

            <div class="flex-jb">
                <button class="btn" nz-button [disabled]="userForm.invalid">Adicionar Usuário</button>
                <button class="btn-back" (click)="addUser()">Voltar</button>
            </div>
        </form>

    </div>
</div>


<p-toast key="tst"></p-toast>